.delete-icon {
  color: rgb(229, 87, 87);
  font-size: 25px;
}
.edit-icon {
  color: rgb(74, 140, 226);
  font-size: 25px;
}
.textPart {
  height: 20px;
  position: relative;
  top: 18px;
}
.containerCheck {
  display: inline-block;
}
.checkBox {
  color: rgb(18, 125, 36);
  cursor: pointer;
  transform: scale(2);
  margin: 20px;
}
.listStyle {
  background-color: #fddbc4;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
.listStyle :hover {
  background-color: #afc6f6;
  border: none;
  border-radius: 5px;
}
